*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%; min-width: 320px; line-height:1;font-size:14px; font-family:'Arial'; -ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:'Arial';}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

*{
  scroll-behavior: smooth;
  transition: all 0.3s ease; 
}

body{
  background: rgba(44, 20, 133, 0.448);
}
.cssMemSlider-body {
  max-width: 1100px;
  padding: 20px;
  margin: 0 auto;
}

.cssMemSlider-slider {
width: 100%;
overflow: hidden;
}
.overflow{
  width: 400%;
  display: flex;
}

.slider-item {
  display:block;
  width: 25%;
  height: 30%;
}

.image-1{
  background-image: url(./images/bean1jpg.jpg);
  }
.image-2{
    background-image: url(./images/find\ issue.jpg); 
  }
  .image-3{
    background-image: url(./images/sunday.png); 
  }
  .image-4{
    background-image: url(./images/Where.jpg); 
  }

  

.item-image{
 width: 100%;
 padding: 0 0 55% 0;
 background-repeat: no-repeat;
 background-size: cover;
 margin:  0 0 20px 0;
}

.item-text {
  font-size: 2em;
}



.circle{
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid slateblue;
  border-radius: 50%;
}

.circle-link{
  display: inline-block;
  margin: 0 0 0 0px;
  padding: 10px;
}



.circle-link:hover .circle{
  background: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
 }

 .item1:target .circle1{
  border: 1px solid slateblue;
  background: slateblue;
}

 .cssMemSlider-control{
 display: flex;
 justify-content: flex-end;
 margin-top: -35px;
 }